.container{
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
.container .history .head-logo{
    width: 5rem;
    margin-block-start: 2.5rem;
}
.container h1 , h2, h3{
    opacity: .7;
}
.container .description{
    opacity: .5;
}