.container {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
}

.container .header {
  margin-block-start: 6.25rem;
}

.container .history .head-logo {
  width: 5rem;
  margin-block-start: 2.5rem;
}

.container h1,
h2,
h3 {
  opacity: 0.7;
}

.container .description {
  opacity: 0.5;
}

.container .download {
  padding: 0.75rem 1.5625rem;
  margin-inline-end: 0.625rem;
  border-radius: 1.25rem;
  border: none;
  color: white;
}

.container .download:hover {
  cursor: pointer;
}
@media (max-width: 772px) {
  .container .download {
    display: block;
    margin-block-start: 20px;
    margin-inline: auto;
  }
}
.container .btn-ios {
  background-color: hsl(171, 66%, 44%);
}

.container .btn-mac {
  background-color: hsl(233, 100%, 69%);
}

.container .track .track-snippet {
  display: grid;
  grid-template-columns: repeat(2, minmax(18.75rem, 1fr));
  text-align: left;
}
.container .track .track-snippet .track-img {
}
.container .track .track-snippet .des-track {
  max-width: 18.75rem;
  margin-inline: auto;
  text-align: center;
}

.container .track .track-snippet img {
  width: 34.375rem;
  margin-inline-start: -20px;
}

@media (max-width: 772px) {
  .container .track .track-snippet {
    display: block;
  }
  .container .track .track-snippet img {
    width: 300px;
    margin-inline-start: 0;
  }
}
@media (max-width: 772px) {
  .container .history,
  .container .track {
    display: block;
  }
}
.container .access-clipboard .description {
  margin-block-end: 3.75rem;
}
@media (max-width: 772px) {
  .container .access-clipboard {
    display: block;
  }
  .container .access-clipboard img {
    width: 300px;
  }
}
.container .logo-and-icons .icons-change {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-inline-start: auto;
  margin-block-start: 3.125rem;
}

@media (max-width: 772px) {
  .container .logo-and-icons .icons-change {
    display: block;
  }
  .container .logo-and-icons .icons-change .icon {
    width: 255px;
    margin-block: 3rem;
    margin-inline: auto;
  }
}
.container .logo-and-icons .logo-change {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-inline-start: auto;
  margin-block-start: 3.125rem;
}

@media (max-width: 772px) {
  .container .logo-and-icons .logo-change {
    display: block;
    margin-inline: auto;
    text-align: center;
  }
  .container .logo-and-icons .logo-change div {
    margin-block-end: 40px;
  }
}

.container .footer {
  background-color: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  align-items: center;
  margin-block-start: 6.25rem;
  opacity: 0.9;
}
@media (max-width: 772px) {
  .container .footer {
    display: block;
    padding-top: 25px;
  }
}

.container .footer .logo {
  width: 60px;
}

.container .footer .footer-links {
  display: flex;
  gap: 50px;
  align-items: center;
}
@media (max-width: 772px) {
  .container .footer .footer-links {
    display: block;
  }
}
.footer .contact {
  color: black;
  display: inline-block;
  text-decoration: none;
}

.container .footer .social-contact {
  /*margin-inline-end: 15px;*/
  margin-inline-start: 39px;
  margin-block-start: 10px;
}

.container .footer .social-icons i {
  font-size: 30px;
}
.container .footer .contact:hover {
  cursor: pointer;
  color: hsl(171, 66%, 44%);
}
@media (max-width: 772px) {
  .container .small-width {
    max-width: 295px;
    margin-inline: auto;
  }
}
