.container{
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
.container div{
    width: 100vw;
}
.container .history .head-logo{
    width: 5rem;
    margin-block-start: 2.5rem;
}
.container h1 , h2, h3{
    opacity: .7;
}

.container .description{
    opacity: .5;
   
}
.container .download{
    padding: 0.75rem 1.5625rem;
    margin-inline-end: 0.625rem;
    border-radius:1.25rem;
    border: none;
    color: white;
}
.container .download:hover{
    cursor: pointer;
}
.container .btn-ios{
    background-color: hsl(171, 66%, 44%);
}
.container .btn-mac{
    background-color: hsl(233, 100%, 69%);
}
.container .track .track-snippet{
    display: grid;
    grid-template-columns: repeat(2,minmax( 18.75rem, 1fr));
    text-align: left;
    
}
.container .track .track-snippet .des-track{
    max-width: 18.75rem;
}
.container .track .track-snippet img{ 
    width:34.375rem;
    margin-inline-start: -20px;
}